<ul class="list-group">
    <li class="list-group-item" *ngFor="let product of products">
        <div class="row">
            <div class="col-md-12">
                {{product.name}} - {{product.price}} EUR
            </div>
            <hr>
            <app-order-product [productName]="product.name" [productPrice]="product.price"></app-order-product>

        </div>
    </li>
</ul>


<!-- <div style="margin: 10px; border: 1px solid blue;">
    <p>products works!</p>
    <app-order-product></app-order-product>
</div> -->